**/.DS_Store

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Test/cache
**/.pytest_cache/
**/.mypy_cache/

# PyInstaller
**/.pyinstaller_cache/
**/build/
**/dist/
**/*.spec
!radar_chart_automation/radar_chart_automation.spec

# Archives
**/*.zip

# Logs and outputs
logs/
**/Documents/
**/Runs/

# Pyenv
**/.python-version
